
<ion-header>

  <ion-navbar>
    <ion-title>البحث</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    
    <ion-item >
        <ion-label class="serch_1">المنطقة</ion-label>
        <ion-select (ionChange)="setDistrictValues(sState)"[(ngModel)]="sState">
            <ion-option [value]="sState" *ngFor="let sState of states">{{sState.name}} </ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedDistricts">
       <ion-label>المدينة</ion-label>
       <ion-select (ionChange)="setCityValues(sDistrict)" [(ngModel)]="sDistrict">
           <ion-option [value]="sDistrict" *ngFor="let sDistrict of selectedDistricts">{{sDistrict.name}}</ion-option>
       </ion-select>
    </ion-item>
    <ion-list *ngIf="selectedCities">
        <ion-item *ngFor="let city of selectedCities">
             <p>{{city.name}}</p>
             
        </ion-item>
        <button ion-button block outline icon-end color="jobranC"  (click)="Gores()">
            متابعة  
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
    </ion-list>


</ion-content>
