
.gallery-modal {
    background: rgba(0, 0, 0, 0.5) !important;
}
ion-slide.swiper-slide {
    left: 0%;
    
}

.slide-zoom {
    background: #ffffff;
}

.thumb-img {
    padding: 10px;
}
.thumb-img2 {
    width: 100px
}
